.browsel{min-width:100px;}
.header .mega-menu .equal-height-in{padding:0px 0;border-left:1px solid #eee;}
.header .mega-menu .equal-height-in:first-child{border-left:none;margin-left:-15px;}
.header .navbar-nav > li > a{padding: 10px 18px 10px 10px;}
.header .nav .search-open{right:0;top:41px;display:none;padding:14px;background:#fcfcfc;border-top:solid 3px #eee;box-shadow:0 1px 15px #ddd;width:530px;}
.input-group{position:relative;display:table;border-collapse:separate;width:100%;}
.form-control{border:solid #4765A0;border-width:1px;height:34px;font-size:12px;font-weight:200;padding:0 8px;}
.headerpad{margin-left:20px;}
label:hover{background:#f7f7f7;cursor:pointer;}
span.label{font-size:10px;font-weight:400;padding:1px 5px;}